- content_for :title do
  Commit Stats Over Past #{@days_ago} Days

%h2 #{@commit_set.count} commits
%table.table.table-striped.table-hover.table-bordered
  %thead
    %tr
      %th Total commits
      %th Author
      %th Breakdown by project
  %tbody
    - @commit_set.top_authors.each do |object|
      %tr
        %td= object[:commit_set].count
        %td
          %a{ href: name_to_slug(object[:author]) }= object[:author]
        %td= breakdown(object[:commit_set])
