- content_for :title do
  = @author

%ul.breadcrumb
  %li
    %a(href="/") Home
    %span.divider /
  %li.active= @author
%h2 Past #{@days_ago} Days
%table.table.table-striped.table-hover.table-bordered
  %tbody
    %tr
      %th Total commits
      %td= @commit_set.count
    %tr
      %th Breakdown by project
      %td= breakdown(@commit_set)
#chart
  %svg
%script{ type: 'text/javascript', src: 'd3.v3.js' }
%script{ type: 'text/javascript', src: 'nv.d3.min.js' }
%script{ type: 'text/javascript', src: 'twigg.js' }
:javascript
  Twigg.Profile.loadCommitsPerDay('#chart svg', #{@nvd3_data.to_json})
