!!!
%html
  %head
    %title= @author
  %body
    %nav
      %a(href="/") Home
    %h1= @author
    %h2 Past #{@days_ago} Days
    %p Total commits: #{@commit_set.count}
    %p= breakdown(@commit_set)
