- content_for :title do
  Pairing stats over past #{number_with_delimiter @days} days
  %small
    %span{day_links}

%table.pairs.table.table-condensed.text-center
  - authors  = @pairs.keys.sort
  %thead
    %tr
      %td
      - authors.each do |pairee|
        %th.text-center
          %a{ href: author_path(pairee), data: { toggle: 'tooltip' }, title: pairee }
            &= pairee.scan(/\b\w/).join
  - authors.each do |pairer|
    %tr
      %th.text-right
        %a{ href: author_path(pairer), data: { toggle: 'tooltip' }, title: pairer }
          &= pairer.scan(/\b\w/).join
      - authors.each do |pairee|
        - solo  = pairer == pairee
        - alpha = @pairs[pairer][pairee].to_f / (solo ? @max_solo : @max_pair) * 0.5
        - color = 'color: #f8f8ff;' if solo && alpha > 0.4
        %td{ style: "background: rgba(0, #{solo ? 80 : 255}, #{solo ? 255 : 0}, #{alpha}); #{color}" }
          - if @pairs[pairer][pairee] > 0
            - if solo
              %a{ href: author_path(pairee), data: { toggle: 'tooltip' }, title: pairee }
                = number_with_delimiter @pairs[pairer][pairee]
            - else
              -# need inner container for tooltip, otherwise cell will resize on hover
              .count{ data: { toggle: 'tooltip' }, title: "#{pairee} & #{pairer}" }
                = number_with_delimiter @pairs[pairer][pairee]
          - else
            &nbsp;
