!!!
%html
  %head
    %title Commit Stats Over Past #{@days_ago} Days
    %link{ rel: 'shortcut icon', href: '/favicon.png' }
  %body
    %h1 Commit Stats Over Past #{@days_ago} Days
    %p #{@commit_set.count} commits
    %table
      %tbody
        - @commit_set.top_authors.each do |object|
          %tr
            %td= object[:commit_set].count
            %td  <a href='#{name_to_slug(object[:author])}'>#{object[:author]}</a>
            %td= breakdown(object[:commit_set])
