- content_for :title do
  Open stories in Pivotal

%h2= pluralize(@stats.inject(0) { |memo, (state, stories)| memo + stories.size }, 'open story', 'open stories')
%table.table.table-striped.table-hover.table-bordered
  %thead
    %tr
      %th Type
      %th Count
  %tbody
    - @stats.each do |state, stories|
      %tr
        %td&= state
        %td= number_with_delimiter(stories.size)

- @stats.each do |state, stories|
  %h3= pluralize(stories.size, "#{state} story", "#{state} stories")
  %table.table.table-striped.table-hover.table-bordered
    %thead
      %th Name
      %th Type
      %th Owner
    %tbody
      - stories.each do |story|
        %tr
          %td
            %a{ href: story.url }&= story.name
          %td&= story.story_type
          %td
            - if story.owned_by
              %span{ title: story.owned_by['name'] }
                &= story.owned_by['initials']
            - else
              &nbsp;
