%h2 Past #{number_with_delimiter days} Days
%table.table.table-striped.table-hover.table-bordered
  %tbody
    %tr
      %th Total commits
      %td= number_with_delimiter(commit_set.count)
    %tr
      %th Breakdown by project
      %td= breakdown(commit_set)

#chart
  %svg

%h2 #{number_with_delimiter commit_set.count} commits
= haml :'shared/commit_list', locals: { commit_set: commit_set }

- content_for :footer do
  :javascript
    Twigg.Profile.loadCommitsPerDay('#chart svg', #{nvd3_data.to_json})
