%h2
  Past #{pluralize days, 'day'}
  %small
    %span{day_links}

%table.table.table-striped.table-hover.table-bordered
  %tbody
    %tr
      %th Total commits
      %td= number_with_delimiter(commit_set.count)
    %tr
      %th Breakdown by project
      %td= breakdown(commit_set)

.bar-chart{ data: { view: 'Profile' } }= haml :'shared/progress'

%h2= pluralize commit_set.count, 'commit'
= haml :'shared/commit_list', locals: { commit_set: commit_set }
