!!!
%html
  %head
    %title
      = strip_tags(yield_content :title)
      - if Twigg::Config.organization
        &mdash;
        &= Twigg::Config.organization
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %link(rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.min.css' media='screen')
    %link(rel='stylesheet' href='/stylesheets/application.css' media='screen')
    %link(rel='shortcut icon' href='/favicon.png')
  %body
    .wrap
      .navbar.navbar-inverse
        .container
          .navbar-header
            %button{ type: 'button', class: 'navbar-toggle', data: { toggle: 'collapse', target: '.navbar-responsive-collapse' }}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand(href='/') Twigg
          .navbar-collapse.collapse.navbar-responsive-collapse
            %ul.nav.navbar-nav
              %li{ class: active?(teams_path) }
                %a{ href: teams_path } Teams
              %li{ class: active?(authors_path) }
                %a{ href: authors_path } Authors
              %li{ class: active?(pairs_path) }
                %a{ href: pairs_path } Pairs
              - if Twigg::Config.app.gerrit.enabled
                %li.dropdown{ class: active?(%r{\A/gerrit\b}) }
                  %a{ href: '#', data: { toggle: 'dropdown' } }
                    Gerrit
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{ href: gerrit_changes_path } Changes
                    %li
                      %a{ href: gerrit_authors_path } Authors
                    %li
                      %a{ href: gerrit_tags_path } Tags
              - if Twigg::Config.app.pivotal.enabled
                %li{ class: active?(pivotal_path) }
                  %a{ href: pivotal_path } Pivotal
              %li{ class: active?(russian_novels_path) }
                %a{ href: russian_novels_path } я
      .container
        .page-header
          %h1= yield_content :title
        = yield
      .push
    .footer.navbar.navbar-default
      - quip = random_quip
      %p.navbar-text.text-center{ title: quip }
        Twigg &mdash;
        %em= quip
    %script(src='/vendor/jquery/jquery.min.js')
    %script(src='/vendor/underscore/underscore-min.js')
    %script(src='/vendor/components-backbone/backbone-min.js')
    %script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    %script(src='/vendor/replacejs/replace.js')
    %script(src='/vendor/d3/d3.min.js')
    %script(src='/vendor/d3.layout.cloud.js')
    %script(src='/vendor/stupidtable.js')
    %script(src='/javascripts/application.js')
    = yield_content :footer
