!!!
%html
  %head
    %title
      = strip_tags(yield_content :title)
      - if Twigg::Config.organization
        &mdash;
        &= Twigg::Config.organization
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %link(rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css' media='screen')
    %link(rel='stylesheet' href='/vendor/bootstrap/css/bootstrap-glyphicons.css' media='screen')
    %link(rel='stylesheet' href='/application.css' media='screen')
    %link(rel='shortcut icon' href='/favicon.png')
  %body
    .wrap
      .navbar.navbar-inverse
        .container
          %button{ type: 'button', class: 'navbar-toggle', data: { toggle: 'collapse', target: '.navbar-responsive-collapse' }}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href='/') Twigg
          .nav-collapse.collapse.navbar-responsive-collapse
            %ul.nav.navbar-nav
              %li{ class: active?(teams_path) }
                %a{ href: teams_path } Teams
              %li{ class: active?(authors_path) }
                %a{ href: authors_path } Authors
              %li{ class: active?(pairs_path) }
                %a{ href: pairs_path } Pairs
              - if Twigg::Config.app.gerrit.enabled
                %li{ classs: active?(gerrit_path) }
                  %a{ href: gerrit_path } Gerrit
      .container
        .page-header
          %h1= yield_content :title
        = yield
      .push
    .footer.navbar
      - quip = random_quip
      %p.navbar-text.text-center{ title: quip }
        Twigg &mdash;
        %em= quip
    %script(src='/vendor/jquery.js')
    %script(src='/vendor/bootstrap/js/bootstrap.min.js')
    %script(src='/vendor/replace.js')
    %script(src='/vendor/d3.v3.js')
    %script(src='/vendor/nv.d3.min.js')
    %script(src='/application.js')
    = yield_content :footer
